
.wp-block-mrs-team-members {
	display: block;

	@for $i from 1 through 6 {
		&.has-#{$i}-columns {
			.block-editor-inner-blocks {
				.block-editor-block-list__layout {
					> [data-type="mrs/team-member"] {
						width: calc( 100% / #{$i} - 20px );
					}
					.block-list-appender {
						width: calc( 100% / #{$i} - 20px );
						border: 1px dashed #555;
						min-height: 70px;
						display: flex;
						justify-content: center;
						align-items: center;
						position: relative;
					}
				}
			}
		}
	}
	.block-editor-inner-blocks {
		.block-editor-block-list__layout {
			display: flex;
			flex-wrap: wrap;
			margin-left: -10px;
			margin-right: -10px;
			
			[data-type="mrs/team-member"] {
				margin: 0;				
			}
			>[data-type="mrs/team-member"] {
				margin: 10px;
				&:has(.has-shadow-opacity-10) {
					box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
				 }
				 &:has(.has-shadow-opacity-20) {
					box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
				 }
				 &:has(.has-shadow-opacity-30) {
					box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
				 }
				 &:has(.has-shadow-opacity-40) {
					box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
				 }
				 &:has(.has-shadow-opacity-50) {
					box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
				 }
				&:has(.has-border-radius-10) {
					border-radius: 10px;
				 }
				 &:has(.has-border-radius-20) {
					border-radius: 20px;
				 }
				 &:has(.has-border-radius-30) {
					border-radius: 30px;
				 }
				 &:has(.has-border-radius-40) {
					border-radius: 40px;
				 }
				 &:has(.has-border-radius-50) {
					border-radius: 50px;
				 }

				.mrs-team-members-img {
					position: relative;

					&.is-loading img {
						opacity: 0.4;
					}
					.components-spinner {
						position: absolute;
						left: 0;
						right: 0;
						top: 0;
						bottom: 0;
						margin: auto;
					}
				}
				h4 {
					margin: 0;
					padding: 0;
					font-family: sans-serif;
				}
				p {
					margin-top: 10px;
				}
				img {
					width: 100%;
                    height: auto;
				}
				.mrs-team-members-social-links {
					
					ul {
						list-style: none;
						padding: 0;
						margin: 15px -5px 0;

						li {
							display: inline-block;
							margin: 5px;

							button {
								background: none;
								border: none;
								padding: 0;								
								cursor: pointer;

								span.dashicon {									
								color: #4e4e4e;
								}
								&:hover {
                                    span.dashicon {
                                        color: #000;
                                    }
                                }
							}
							&.mrs-team-members-social-links-add-link-li {
								outline: 1px dashed #3e3e3e;
							}
							&.is-selected {
								outline: 1px solid #0026ff;
							}
						}
					}
				}			
			}
		}
	}	
	&.is-style-modern-block {
		.block-editor-inner-blocks {
			.block-editor-block-list__layout {

				[data-type="mrs/team-member"] {
					box-shadow: none;
				}
				> [data-type="mrs/team-member"] {
						display: flex;
						flex-direction: column;
						text-align: center;
						align-items: center;
						background-color: #ff894c;
						padding-top: 34px;

						 &:has(.has-shadow-opacity-10) {
							box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
						 }
						 &:has(.has-shadow-opacity-20) {
							box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
						 }
						 &:has(.has-shadow-opacity-30) {
							box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
						 }
						 &:has(.has-shadow-opacity-40) {
							box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
						 }
						 &:has(.has-shadow-opacity-50) {
							box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
						 }
						 &.has-border-radius-10 {
							border-radius: 10px;
						 }
						 &.has-border-radius-20 {
							border-radius: 20px;
						 }
						 &.has-border-radius-30 {
							border-radius: 30px;
						 }
						 &.has-border-radius-40 {
							border-radius: 40px;
						 }
						 &.has-border-radius-50 {
							border-radius: 50px;
						 }
						h4 {
							margin-top: 15px;
						}
						p {
							margin-bottom: 8px;
						}
						.mrs-team-members-img {
							clip-path: circle(50% at 50% 50%);
							width: 130px;
							height: 130px;
							margin: auto
						}
						.mrs-team-members-social-links {
								
							ul {
								text-align: center;
								li {
									display: inline-block;
									padding-bottom: 15px;
								}
							}
						}
					}
                }

                
			
		}
	}	
}
